body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #6a8fad ;
    background-image: url('fine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 900px;
    height: 700px;
}